<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Bookmarks</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script>
    function Proceed(){
        var d = document.getElementById("btn");
        d.className += " active";
    }
</script>
</head>
<body>
<div class="container">
    <a id='btn' class="button shadow" onclick="Proceed()" href="/result" >
        <i class="fa fa-play" aria-hidden="true"></i>
    </a>
</div>
<script src="https://use.fontawesome.com/d0d7e7dff2.js"></script>
</body>
</html>